# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc
venv/
.venv/

# Environment files
.env
source-ec2/.env

# ----------------------------
# Logs & Runtime
# ----------------------------
*.log
logs/
source-ec2/logs/
*.pid
tmp/
generated/

# ----------------------------
# Docker
# ----------------------------
.docker/

# ----------------------------
# IDE / OS
# ----------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db

# ----------------------------
# Project-specific cache
# ----------------------------
source-ec2/api/__pycache__/
